---
title: About
layout: 'base.njk'
eleventyExcludeFromCollections: true
---

<main>

  <section class="about-hero">

    <div class="about-hero-container container">
      <div class="about-hero-image">
        <img src="{{ '/img/adrianPgoto.jpg' | url }}" alt="Adrian Kasito | Adrian Kasito" style="max-width: 100%; height: auto;">
      </div>
      <div class="about-hero-content" style="margin-left: 20px;">
        <h1 class="head_text" style="font-size: 2em; margin-bottom: 10px;">
          Hello, I am Adrian Kasito 
        </h1>
        <p class="sub-text" style="font-size: 1.2em; margin-bottom: 5px;">
          Every business faces tricky data puzzles, and I'm the problem solver you need. I specialize in untangling complex challenges that can make or break your success.
        </p>
        <br><br>
        <p class="sub-text" style="font-size: 1.2em; margin-bottom: 15px;">
          I don't just hear your problems; I dive into the data, providing you with clear, practical solutions. Count on me to simplify complexities and give your business strategies that really work.
        </p>
      </div>
    </div>

  </section>

</main>
